
<h1> REGISTRO DE USUARIO  3.0</h1>

<form method="get" action="/pages/create">
    <div class="form-group">
        <label for="email">Email Addres</label>
        <input name="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input name="age"  type="number" class="form-control">
    </div>

    <div class="form-group">
        <label for="Comment">Comment</label>
        <textarea name="Comment" class="form-control"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button> 
</form>